{
  "firebase" : {
    "apiKey": "APIKEY_HERE",
    "authDomain": "AUTH_DOMAIN_HERE",
    "databaseURL": "DB_URL_HERE",
    "projectId": "PROJECT_ID_HERE",
    "storageBucket": "STORAGE_BUCKET_HERE",
    "messagingSenderId": "MESSAGING_SENDER_ID_HERE"
  }
}
